<form action="/random/results">
  <label for = "min">Minimum</label>
  <input 
    type="text" 
    name="user_min"
    id = "min"
    placeholder="E.g. 1.5"
    >

    <label for = "max">Maximum</label>
  <input 
    type="text" 
    name="user_max"
    id = "max"
    placeholder="E.g. 4.5"
    >

  <button>Pick random number</button>
</form>
